[Unit]
Description=gradebot
After=network.target

[Service]
ExecStart=npm run log
# node /home/michael/apps/gradebot/app/bot.js
Restart=always
User=app-runner
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
Group=ssl-cert
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/michael/apps/gradebot

[Install]
WantedBy=multi-user.target

# Templated from https://certsimple.com/blog/deploy-node-on-linux